.imgC1{
    position: absolute;
    top: 260px;
    left: 413px;
}

.imgC2{
    position: absolute;
    
    top: 308px;
    right:369px;
}

.imgC3{
    position: absolute;
    
    top: 1140px;
    left: 390px;
}

.imgC4{
    position: absolute;
    
    top: 1137px;
    right:369px;
}

.imgC5{
  
    position: absolute;
    top: 1997px;
    left: 642px;
}